/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 100%;
    font-family: Poppins-Regular,sans-serif;
    display: block;
}
*{
    box-sizing: border-box;
    padding: 0;
}