<div class="LogPage">
    <!-- <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="https://cdn.pixabay.com/photo/2017/12/27/21/29/bell-3043885_960_720.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="https://cdn.pixabay.com/photo/2018/09/14/11/12/food-3676796_960_720.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="https://cdn.pixabay.com/photo/2014/06/16/23/10/spice-370114_960_720.jpg" style="width:100%">
      </div>
    </div> -->
    <ul class="cb-slideshow">
      <li>
        <span>Image 01</span>
        <div>
          <h3>Wellcome To </h3>
        </div>
      </li>
      <li>
        <span>Image 02</span>
        <div>
          <h3>Cash Register</h3>
        </div>
      </li>
      <li>
        <span>Image 03</span>
        <div>
          <h3>Nice to meet you</h3>
        </div>
      </li>
      <li>
        <span>Image 04</span>
        <div>
          <h3>We  </h3>
        </div>
      </li>
      <li>
        <span>Image 05</span>
        <div>
          <h3>Cash Register</h3>
        </div>
      </li>
      <li>
        <span>Image 06</span>
        <div>
          <h3>One piece</h3>
        </div>
      </li>
    </ul>
  
  
  
    
    <div class="LogSign">
      <form>
        <span class="title">Sign Up</span>
      </form>
    </div>
  </div>